<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <!-- 用户业务层 -->
	<bean id="userService" class="cn.cnct.repository.service.impl.UserServiceImpl">
		<property name="baseService" ref="baseService"></property>
		<property name="dao" ref="dao"></property>
	</bean>
	
</beans>